[user]
	name = olekspickle
	email = 22867443+olekspickle@users.noreply.github.com
	signingkey = /home/pickle/.ssh/pickle_ed25519.pub
[init]
	defaultBranch = main
[core]
	editor = nvim
[maintenance]
    repo = /home/pickle/Documents/rust/generative-sketches
	repo = /home/pickle/Documents/rust/actix-template
    repo = /home/pickle/Documents/rust/axum-template
	repo = /home/pickle/Games/sword_for_hire
	repo = /home/pickle/Games/bevy_new_3d
[alias]
	bb = !/home/pickle/Documents/dotfiles/scripts/git-better-branch.sh
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[gpg]
	format = ssh
[credential]
	helper = store
[pull]
    rebase = true
