layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }
        children
    }
    // ☍ ♅ ♆ ꐠꆛ

    tab name="♅ main" cwd="~/" {
        pane
    }

    tab name="♆ rusting" cwd="~/Documents/fort"  {
        pane
    }

    tab name="☍ dev" cwd="~/Documents/fort" focus=true {
        pane
    }

    tab name="ꆛconfig"  split_direction="vertical" {
        pane cwd="~/Documents/dotfiles"
        pane cwd="~/.config/nvim"
    }

    tab name="btop"  {
            pane command="btop"
    }
}
