layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }
        children
    }
    // ☍ ♅ ♆ ꐠꆛ

    tab name="♅ main" cwd="~/" {
        pane
    }

    tab name="♆ rusting" cwd="~/Documents/rust"  {
        pane
    }

    tab name="☍ dev" cwd="~/Games/bevy-third-person" focus=true {
        pane
    }

    tab name="♬ " split_direction="vertical" {
        pane cwd="~/Downloads"
        pane cwd="~/Sound/lmms/projects"
        floating_panes {
            pane cwd="~/Music" {
                x 0
                y "15%"
                width "100%"
                height "50%"
            }
            pane cwd="~/Music" {
                x "50%"
                y "40%"
                width "50%"
                height "50%"
            }
        }
    }

    tab name="ꆛconfig"  split_direction="vertical" {
        pane cwd="~/Documents/dotfiles"
        pane cwd="~/.config/nvim"
    }

    // tab name="gpu"  split_direction="horizontal" {
    //     pane {
    //         command "radeontop"
    //         args "-T" "-c"
    //     }
    //     pane {
    //         command "radeontop"
    //         args "-T" "3" "-c"
    //     }
    // }
}
