[net]
git-fetch-with-cli = true   # use the `git` executable for git operations

[profile]
incremental = true

# CRANELIFT speedup: https://bevy.org/learn/quick-start/getting-started/setup/#cranelift
[unstable]
codegen-backend = true
[profile.dev]
codegen-backend = "cranelift"
# Consider compiling deps with llvm for runtime perf and working `#[should_panic]`
# If you don't have any tests that `#[should_panic]`, comment this out for *massive* speedups
# For me, it makes a 16 minute build take 6 minutes.
[profile.dev.package."*"]
codegen-backend = "llvm"
[profile.release] # Disable cranelift for release profile
codegen-backend = "llvm"
[profile.web] # cranelift cannot build wasm32-unknown-unknown out of the box
codegen-backend = "llvm"

[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = [
    "-Clink-arg=-fuse-ld=mold",
    # Nightly
    "-Zshare-generics=y",
    # https://blog.rust-lang.org/2023/11/09/parallel-rustc.html
    "-Zthreads=0",
]
rustdocflags = [
    # Nightly
    "-Zshare-generics=y",
    "-Zthreads=0",
    "-Clink-arg=-fuse-ld=mold",
]

# ^ Using a global target-dir is a great way to do caching
# but breaks subsecond when used with mold!
# Use `ln -s /home/your_name/.cargo/global_target target` instead
[build]
target-dir = "/home/pickle/.cargo/global-build-cache"

