layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
        pane cwd="/home/pickle/Documents" {

        }
        pane split_direction="horizontal" {
            pane cwd="/home/pickle/Documents"
            pane cwd="/home/pickle/Documents"
        }
    }

    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
